{% extends 'base.html'%}
{% block title%} 
     ADD A BLOG HERE
{% endblock%}

{% block content%}
</head>
<body>
    {{cats}}
    <h1> bradshaw add  blog   {{post.title}}</h1>
    <br><br>
    <table>
    <form method="POST">
        {% csrf_token%}
        {{ form.as_table}}
        <button class="btn btn-secondary">POST</button >
 
    
    <small> By;{{post.author.first_name}}

        {{post.first_name}}, <br>{{post.surname}} 
        <br><br>
        {{post.email}} 
        <br><br>
        {{post.ADDRESS_1}}<br><br>
        {{post.ADDRESS_2}}<br><br>
        
        {{post.ADDRESS_3}}<br><br> 
        {{post.ADDRESS_4}}<br><br> 
        {{post.ADDRESS_5}}<br><br>
        {{post.code}}<br><br>
        
        {{post.why}}<br><br> 
        {{post.MAILING_LIST}}</li>
        {{post.body}} 
    </small>
    </form>
    </table>
<br>
<a href="{% url 'home'%}">BACK</a>
<br>
<br> <button class="btn btn-secondary">POST</button >
<a href="{% url 'home'%}" class="btn btn-secondary">BACK</a>


{%endblock%}


</body>
</html>