{% extends 'base.html'%}
{% block title%}  DELETE BLOG POST
   
{% endblock%}

{% block content%}


{% if user.is_authenticate%}
    <h1> DELETE POST</h1>
<br><br>
        <h2>Delete: 
            <br><br>
            {{post.title}}
            <br><br>
        {{post.body}}</h2>
<br><br>

    {{}post.body}

    <form method="POST">       
    {%  csrf_token%}
        <strong><i><b> Are you sure you want to delete</b></i></strong>
        
        {{post.body}} 
    </small>
<a href="{% url 'home'%}" class="btn btn-secondary">DELETE</a>


{% else %}
 PLEASE LOG IN TO DELETE YOUR POST

{% endif %}
{% endblock %}